* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header-bar {
    display: flex;
    align-items: center;
    position: fixed;
    background-color: #ffffff;
    width: 100vw;
    z-index: 1;
}

.navigation-bar {
    display: flex;
    padding-left: 800px;
}

.navigation-bar li {
    list-style-type: none;
    padding: 20px;
}

.navigation-bar a {
    text-decoration: none;
    color: #000;
}

.navigation-bar a:hover {
    text-decoration: none;
    color: #24ade3;
    transition: .2s;
}

.section-2 {
    display: flex;
    align-items: center;
    padding: 100px 200px;
    margin: 00px 450px;
}

.discover-btn {
    background-color: #445bee;
    height: 40px;
    width: 150px;
    border-style: none;
    transition: .2s;
}

.discover-btn:hover {
    background-color: #0c29e1;
    box-shadow: 5px 10px 30px rgba(130, 147, 255, 0.5);
}

.discover-btn a {
    text-decoration: none;
    color: white;
}

.discover-btn-2 {
    background-color: #8393ff;
    height: 50px;
    width: 220px;
    font-size: 20px;
    border-style: none;
    transition: 0.2s;
}

.discover-btn-2:hover {
    box-shadow: 5px 10px 30px rgba(130, 147, 255, 0.5);
}

.discover-btn-2 a {
    text-decoration: none;
    color: white;
}

.line-1 {
    display: flex;
}

.skill:hover {
    background-color: #8293ff;
    color: wh;
}

.line-2 {
    display: flex;
    padding-top: 40px;
}

.card-1 {
    display: flex;
    padding: 0px 200px;
}

.card-1 h1 {
    text-align: center;
}

.card-1 p {
    text-align: center;
}

.card-2 {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.card-2:hover img {}

.card-2 h1 {
    text-align: center;
}

.card-2 p {
    text-align: center;
}
.card{
    margin: 10px;

}
.card :hover{
    opacity: .5;
    transition: .3s ease-in-out;
}
.business-type{
    border: #efeded solid;
    border-width: 1px;
    width: 250px;
    text-align: center;
    background-color: #f9f9ff;
    padding-bottom: 29px;
    transform: rotate(0) scale(1);
    transition: .2s;
}
.business-type:hover{
    background-color:#8293ff;
    color: white;
}
.business-type:hover{
    transform: rotate(0) scale(1.02);
}
.business-type p{
    padding: 15px;
}
.business-type button{
    padding: 10px 80px;
    border: none;
    margin: 0px;
    background-color: #2ed17f;
}
.my-plan{
    display: flex;
    padding: 50px 500px;
    justify-content: space-around;
}
footer{
    background-color:#04091e ;
    display: flex;
    padding: 150px;
}
footer .f{
    margin: 10px 100px;
}
.email-form {
    display: flex;
    align-items: center;
    color: #ffffff;
    width: 400px;
}

.email-form input {
    padding: 5px 50px;
    border: none;
    background-color: white;
    color: #ffffff;
}

.email-form button {
    padding: 5px 10px;
    background-color: #8293ff;
    color: white;
    border: none;
    margin-left: 5px;
    cursor: pointer;
}